
<div class="row widget-footer">
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
</div>