<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

<div class="row">
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
    <div class="col-md-2">
        <p>Test Link</p>
        <p>Test Link</p>
        <p>Test Link</p>
    </div>
</div>