@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>


<div class="row">
    <div class="col-md-12">
        Fan mail is always appreciated. Naked pictures of your sister even more so. Speaking of, if you're 18+ and got titties, please consider doing a fan pic. Advance instructions HERE. Also check out the EFUKT FORUM, cause we both know you have nothing better to do...

        Requests for music info are ignored and deleted. Get your girlfriend to do an efukt fanpic and maybe we'll reconsider.

        Follow EFUKT on Twitter efuktdotcom

        EMAIL: WEBMASTER@EFUKT.COM
    </div>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>