@model Rinkan.Models.Posts

@{
    ViewBag.Title = "Home Page";
}



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
@Html.Partial("_HeaderImages")





<div class="row">
    <div class="col-md-3">
        <a class="afm_44_1" rel="nofollow" href="http://ad-house.mobi/mmmseopc0003" imp="0:44:467" style="text-decoration:none;" target="_blank">
            <img src="http://shockingblog.net/wp-content/uploads/2015/04/out22.jpg" height="170" width="256" hspace="3">
        </a><p>
            <a class="afm_44_1" rel="nofollow" href="http://ad-house.mobi/mmmseopc0003" imp="0:44:467" style="text-decoration:none;" target="_blank">
                <marquee scrolldelay="300" scrollamount="30" width="30" style="width: 30px;"><font color="red">NEW</font></marquee><span>【本物レ○プ】公衆トイレで強姦魔にレイプされて捨てられた少女</span>
            </a>
        </p>
    </div>
    <div class="col-9">
        <h3><a href="" title="Mr Big Load"><p>Mr Big Load</p></a></h3>
        <p>A.K.A. "ukBiggestSpunker" is a sperm chucking champion capable of loads only obtainable by some high powered mutant not considered for mass production. Full Scenes: HERE</p>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>